/* Ng style */
textarea.ng-dirty.ng-valid, input.ng-dirty.ng-valid {
  border: 1.5px solid green;
}
textarea.ng-dirty.ng-invalid, input.ng-dirty.ng-invalid {
  border: 1.5px solid red;
}

/* Sitewide */
a.disabled {
   pointer-events: none;
   cursor: default;
   color: DarkSlateGray;
}

h1 {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #BABABA;
}
h2 {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

textarea {
  padding: 10px;
  border: 1px solid #DEDEDE;
  resize: none;
}

textarea:focus {
  outline: 0;
  border: 1px solid #BABABA;
}

button:hover {
	text-decoration: none;
}

.fixed-header {
  margin-bottom: 50px;
}

.modal-show {
  display: block; 
  padding-right: 0px;
}

.margin.top {
  margin-top: 40px;
}

.margin.bottom {
  margin-bottom: 40px;
}

/* New course */
#new-course-form {
	padding-top: 40px;
	padding-bottom: 20px;
}

/* Edit course */
.back-link {
  display: inline-block;
  margin-bottom: 30px;
}

.page-links a {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.3em;
}

#section-name {
  font-size: 16px;
} 
#page-name {
  font-size: 24px;
}
#input-margin {
  margin: 10px 0px 10px 0px;
  padding: 0;
}

/* Home */
.course-block {
	padding: 20px;
	margin-right: 47px;
	margin-left: 47px;
	margin-bottom: 50px;
	background-color: #F5FFFA;
	display: inline-block;
	border-radius: 3px;
}
.course-block:hover{
	background-color: #BABABA;
}

/*  ng-view Animation  */

.view-slide-in.ng-enter {
  transition: all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
   
  opacity:0.5;
  position:relative;
  opacity:0;
}

.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  opacity:1;
}
.view-slide-in.ng-leave{
  opacity:0;
}