/* Ng style */
#course-form textarea.ng-dirty.ng-valid, #course-form input.ng-dirty.ng-valid {
  border: 1.5px solid green;
}
#course-form textarea.ng-dirty.ng-invalid, 
#course-form input.ng-dirty.ng-invalid,
#edit-course textarea.ng-dirty.ng-invalid,
#edit-course input.ng-dirty.ng-invalid{
  border: 1.5px solid red;
}

/* Sitewide */
#notice {
  text-align: center;
  color: green;
}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: DarkSlateGray;
}

h1:not(.noline) {
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #BABABA;
}
h2 {
	margin-top: 50px;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

textarea {
  padding: 10px;
  border: 1px solid #DEDEDE;
  resize: none;
}

textarea:focus {
  outline: 0;
  border: 1px solid #BABABA;
}

button:hover {
	text-decoration: none;
}

.fixed-header {
  margin-bottom: 50px;
}

.modal-show {
  display: block; 
  padding-right: 0px;
}

.margin.top {
  margin-top: 40px;
}

.margin.bottom {
  margin-bottom: 40px;
}

.border.top {
  border-top: 1px solid #BABABA;
}

.back-link {
  display: inline-block;
  margin-bottom: 30px;
}

/* New course */
#course-form {
	padding-top: 40px;
	padding-bottom: 20px;
}

/* Teacher courses */

#teacher-courses {
  font-size: 1.3em;
}

/* Edit course */

#edit-course .course-title {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
}

#edit-course .page-links a {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.3em;
}

#section-name {
  font-size: 16px;
} 
#page-name {
  font-size: 24px;
}
#input-margin {
  margin: 10px 0px 10px 0px;
  padding: 0;
}

/* Home */
#home .category {
  padding: 20px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

#home .category.current {
  cursor: default;
  color: #F00000;
}

#home .category-container {
  display: inline-block;
}

#home .categories {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #FFCCCC;
  border-bottom: 1px solid #FFCCCC;
  background-color: #FFF7F7;
  width: 92%;
}

#home .course-block {
  border-top: 1px solid #FFCCCC;
  border-bottom: 1px solid #FFCCCC;
	padding: 20px;
	margin-right: 47px;
	margin-left: 47px;
	margin-bottom: 50px;
	background-color: #FFF7F7;
	display: inline-block;
  cursor: pointer;
}
#home .course-block:hover{
	background-color: #FCD9D9;
}

#home .course-name {
  display: inline-block;
}

/* Show course */

#comments .comment {
  border-top: 1px solid #DEDEDE;
  padding: 20px;
  margin: 15px 0 15px 0;
}

#comments {
  background-color: #FCFAFA;
  border: 1px solid #FACACA;
}

#comments .new .form-group {
  padding-top: 30px;
  border-top: 1px solid #DEDEDE;
}

#comments .author {
  font-weight: bold;
  font-style: italic;
}

#show-course .menu {
  padding: 15px;
  background-color: #FCFAFA;
  border: 1px solid #FACACA;
}

#show-course .menu .page-name {
  font-size: 1.2em;
}

#show-course .menu .section-name {
  padding-left: 10px;
  padding-top: 2px;
}

#show-course .nav button {
  margin-left: 6px;
  margin-top: 15px;
}

#show-course .favorite {
  cursor: pointer;
}

/*  ng-view Animation  */

.view-slide-in.ng-enter {
  transition: all 0.5s ease;
  -webkit-transition:all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
   
  opacity:0.5;
  position:relative;
  opacity:0;
}

.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  opacity:1;
}
.view-slide-in.ng-leave{
  opacity:0;
}