<h1>Home</h1>
<a href='#/new'><button class="btn btn-lg btn-primary" type="button">Rédiger un nouveau cours</button></a>
<h2 class="text-center">Les cours</h2>
<div class="categories">
  <div>Favoris</div>
  <div ng-repeat="theme in themes">
    {{ theme.name }}
  </div>
</div>

<div ng-repeat="course in courses">
  <div class="course-block col-md-5" ng-click="showCourse(course)">
	 <h4>{{ course.name }}</h4>
	 <p>{{ course.description }}</p>
   <a ng-href="#/{{ course.id }}/edit/1">Editer</a>
  </div>
</div>