<h1>Nouveau cours</h1>

<form class="form-horizontal" name="newCourse" id="new-course-form" role="form" novalidate>

	<div class="form-group">
		<label for="name" class="col-sm-offset-2 col-sm-2 control-label">Nom</label>
		<div class="col-sm-3">
			<input id="name" type="text" class="form-control" ng-model="course.name" ng-minlength=3 ng-maxlength=20 ng-pattern="/^[a-zA-z\s]+$/" required>
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-offset-2 col-sm-2 control-label">Description</label>
		<div class="col-sm-3">
			<textarea id="description" class="form-control" ng-model="course.description" ng-minlength=10 ng-maxlength=100 required>{{ course.description }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="chapter" class="col-sm-offset-2 col-sm-2 control-label">Chapitre</label>
		<div class="col-sm-3">
			<select ng-model="course.chapter">
				<optgroup ng-repeat="theme in themes" label="{{ theme.name }}">
					<option ng-repeat="chapter in theme.chapters" value="{{ chapter.id }}">{{ chapter.name }}</option>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="difficulty" class="col-sm-offset-2 col-sm-2 control-label">Difficulté</label>
		<div class="col-sm-3">
			1 <input type="radio" value="0" ng-model="course.difficulty" >
			2 <input type="radio" value="1" ng-model="course.difficulty" >
			3 <input type="radio" value="2" ng-model="course.difficulty" >
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-10">
			<button type="submit" ng-disabled="newCourse.$invalid" ng-click="createCourse()" class="btn btn-default">Créer</button>
		</div>
	</div>

</form>