<div id="show-course">
  
  <h1>{{ course.name }}</h1>
  <h2>{{ page.name }}</h2>
  <div class="col-sm-10">
    <div mathjax class="margin bottom" ng-repeat="section in page.sections">
      <div id="{{ section.name }}">
        <h3>{{ section.name }}</h3>
        <div ng-bind-html="section.html_content"></div>
      </div>
    </div>
  </div>

  <div class="menu col-sm-2">
    <div ng-repeat="page in pages">
      <div class="page-name"><a ng-href="/courses/#/{{ course.id }}/view/{{ page.order }}" ng-class="{ disabled: isCurrentPage(page) }">{{ page.name }}  <span ng-show="isCurrentPage(page)" class="glyphicon glyphicon-eye-open"></span></a></div>
      <div class="section-name" ng-repeat="section in page.sections">
        <a ng-href="/courses/#/{{ course.id }}/view/{{ page.order }}">{{ section.name }}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="pull-left"><button class="btn btn-default" ng-disabled="firstPage()" ng-click="previousPage()">Précédent</button></div>
    <div class="pull-right"><button class="btn btn-default" ng-disabled="lastPage()" ng-click="nextPage()">Suivant</button></div>
  </div>

</div>

<div id="comments" class="col-sm-12 margin border top">
  <h3>Commentaires</h3>
  <div class="comment col-sm-7" ng-repeat="comment in comments">
      <p class="author">{{ comment.user }}</p>
      <p>{{ comment.content }}<p>
      <em><small>Posté le {{ comment.created_at | date : "d MMMM yyyy à H:mm" }}</small></em>
  </div>

  <div class="comment col-sm-7">
      <p class="author">{{ comment.user }}</p>
      <p ng-hide="comment.content.length">{{ comment.placeholder }}<p>
      <p>{{ comment.content }}<p>
  </div>

  <div class="new col-sm-7">
    <form class="form-horizontal" role="form" name="newComment" ng-submit="newComment.$valid && saveComment()" novalidate>
      <div class="form-group">
        <textarea placeholder="Ton commentaire" class="col-sm-12" msd-elastic="\n" ng-model="comment.content" ng-minlength=3 required></textarea>
        <input type="submit" value="Envoyer" class="form-control" ng-disabled="newComment.$invalid">
      </div>
    </form>
  </div>
</div>