<!DOCTYPE html>
<html ng-app="coursesApp">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Cours</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/static/courses/images/favicon.png">

  {% load staticfiles %}
  <!-- CSS du site -->
  <link rel="stylesheet" href="{% static "courses/stylesheets/main.css" %}">

  <!-- Bootstrap: CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Bootstrap: JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <!-- modules AngularJS -->
  <script src="{% static "javascripts/angularjs/angular.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-locale_fr-ch.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-resource.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-route.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-elastic.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-sanitize.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-animate.min.js" %}"></script>

  <!-- Showdown.js -->
  <script src="{% static "javascripts/showdown.js" %}"></script>
  <script src="{% static "courses/javascripts/extensions.js" %}"></script>

  <!-- MathJax -->
  <script src="/static/MathJax/MathJax.js?config=TeX-AMS_HTML,local/local"></script>

  <!-- JavaScript du site -->
  <script src="{% static "courses/javascripts/app.js" %}"></script>
  <script src="{% static "courses/javascripts/config/routes.js" %}"></script>
  <script src="{% static "courses/javascripts/controllers/show.js" %}"></script>
  <script src="{% static "courses/javascripts/controllers/edit.js" %}"></script>
  <script src="{% static "courses/javascripts/controllers/page_edit.js" %}"></script>
  <script src="{% static "courses/javascripts/controllers/preview.js" %}"></script>
  <script src="{% static "courses/javascripts/controllers/home.js" %}"></script>
  <script src="{% static "courses/javascripts/controllers/new.js" %}"></script>
  <script src="{% static "courses/javascripts/controllers/teacher_course.js" %}"></script>
  <script src="{% static "courses/javascripts/factories/resources.js" %}"></script>
  <script src="{% static "courses/javascripts/filters/filters.js" %}"></script>
  <script src="{% static "courses/javascripts/directives/directives.js" %}"></script>

</head>
  <body>
    <!-- http://getbootstrap.com/components/#navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <!-- Affiche les liens seulement aux enseignants -->
            {% if user.is_teacher %}
              <li><a href="#/new">Ajouter un cours</a></li>
              <li><a href="#/teacher/courses">Tous les cours</a></li>
            {% endif %}
            <li><a href="#/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- Affiche soit le lien pour se connecter, soit le nom de l'utilisateur -->
            {% if user.is_authenticated %}
              <li><a href="{% url 'django.contrib.auth.views.logout' %}">Déconnecter</a></li>
              <a class="navbar-brand">{{ user.username }}</a>
            {% else %}
              <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Le contenu des gabarits est ajouté dans cette div -->
    <div class="container">
      <!-- Animations AngularJS -->
      <div ng-view class="view-slide-in"></div>
    </div>  

  </body>
</html>