<!DOCTYPE html>
<html ng-app="coursesApp">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Cours</title>

  {% load staticfiles %}
  <!-- Website's CSS -->
  <link rel="stylesheet" href="{% static "courses/stylesheets/main.css" %}" />

  <!-- Bootstrap: Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Bootstrap: Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <!-- AngularJS components -->
  <script src="{% static "javascripts/angularjs/angular-file-upload-shim.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-resource.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-route.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-elastic.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-sanitize.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-animate.min.js" %}"></script>
  <script src="{% static "javascripts/angularjs/angular-file-upload.min.js" %}"></script>

  <!-- Showdown markdown converter and extensions -->
  <script src="{% static "javascripts/showdown.js" %}"></script>
  <script src="{% static "courses/javascripts/extensions.js" %}"></script>

  <!-- MathJax -->
  <script src="/static/MathJax/MathJax.js?config=TeX-AMS_HTML,local/local"></script>

  <!-- Website's JS -->
  <script src="{% static "courses/javascripts/main.js" %}"></script>

</head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li><a href="#/about">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div ng-view class="view-slide-in"></div>
    </div>  

  </body>
</html>