<html>
    <head>
        <link rel="stylesheet" href="/static/courses/stylesheets/pdf.css" />
    </head>
    <body>

        <div id="header">
            <div id="author">{{ course.author.first_name }} {{ course.author.last_name}}</div>
            <div id="date">{{ course.created_at | date:"d F Y" }}</div>
        </div>
        <div class="line"></div>
        <div id="course">
            <div class="notice">Note: Il se peut que la mise en forme diffère légèrement de la version en ligne.</div>
            <h1>{{ course.name }}</h1>
            <div id="description">{{ course.description }}</div>

            {% for page in course.pages.all %}
                <h2>{{ page.name }}</h2>
                {% for section in page.sections.all %}

                    <h3>{{ section.name }}</h3>
                    {% autoescape off %}
                        <p>{{ section.html_content }}</p>
                    {% endautoescape %}

                {% endfor %}
            {% endfor %}
        </div>

    </body>
</html>