<!-- Formulaire pour les informations de base d'un cours -->
<form class="form-horizontal" name="CourseForm" id="course-form" novalidate>
  <div class="form-group">
    <label for="name" class="col-sm-offset-2 col-sm-2 control-label">Nom</label>
    <div class="col-sm-5">
      <input id="name" type="text" class="form-control" ng-model="course.name" ng-maxlength=50 
      ng-pattern="/^[\w\sáàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ]+$/" required>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-offset-2 col-sm-2 control-label">Description</label>
    <div class="col-sm-5">
      <textarea msd-elastic="\n" id="description" class="form-control" ng-model="course.description" ng-maxlength=200 required>{{ course.description }}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="chapter" class="col-sm-offset-2 col-sm-2 control-label">Chapitre</label>
    <div class="col-sm-5">
      <select ng-model="course.chapter">
        <optgroup ng-repeat="theme in themes" label="{{ theme.name }}">
          <option ng-repeat="chapter in theme.chapters" value="{{ chapter.id }}">{{ chapter.name }}</option>
        </optgroup>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="difficulty" class="col-sm-offset-2 col-sm-2 control-label">Difficulté</label>
    <div class="col-sm-5">
      1 <input type="radio" value="0" ng-model="course.difficulty" >
      2 <input type="radio" value="1" ng-model="course.difficulty" >
      3 <input type="radio" value="2" ng-model="course.difficulty" >
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button id="send-course" type="submit" ng-disabled="CourseForm.$invalid" ng-click="saveCourse()" class="btn btn-default">Envoyer</button>
    </div>
  </div>
</form>